<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Magic Wand</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&family=Lobster&family=Modak&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/7469e0be29.js" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/home.css">
<link rel="icon" href="/images/favicon.ico">
  </head>
  <body>
<div id="scrollPath"></div>
<div id="progressbar"></div>

      <nav id="remove" class="navbar navbar-expand-lg navbar-dark  fixed-top">

         <span class="navbar-brand mb-0 h1 font">Magic-Wand</span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class= "nav-item">
                <img id="myImg" src="<%=imgSRC%>"  class="pp">
            </li>
            <li class="nav-item">
              <span class=" navbar-brand ">HI,<%=fname%></span>
            </li>

            <li class="nav-item">
              <a class="nav-link navbar-brand" href="/profile/<%=id%>">PROFILE</a>
            </li>


            <li class="nav-item">
              <div class="dropdown show">
                <a class="btn nav-link navbar-brand"href="#" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
          <svg class="bi bi-bell" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M8 16a2 2 0 002-2H6a2 2 0 002 2z"/>
  <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 004 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 00-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 111.99 0A5.002 5.002 0 0113 6c0 .88.32 4.2 1.22 6z" clip-rule="evenodd"/>
</svg>
 <span class="w3-badge w3-right w3-small w3-green"><%=pending.length%></span>
</a>
<div class="dropdown-menu x d " aria-labelledby="dropdownMenuLink">

  <%pending.forEach(function(user){%>

      <a class="dropdown-item" style="font-size:13px; font-weight: bold;" href="/search/<%=id%>/<%=user._id%>"><%=user.fname%></a>
      <p class="dropdown-item">send you friend request</p>
  <%});%>

</div>
              </div>

            </li>

            <li class="nav-item">
              <div class="dropdown show">
                <a class="btn nav-link navbar-brand dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">

                </a>

                <div class="dropdown-menu x" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" style="font-size:13px; font-weight: bold;" href="/home/<%=id%>">HOME</a>

                <a class="dropdown-item "style="font-size:13px; font-weight: bold;" href="/logout">LOGOUT</a>
                </div>
              </div>

            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0  "  action="/search/<%=id%>" method="post" id="LocateOnMap">
               <input type="text" class="form-control" name="search" placeholder="Search"  autocomplete="off"spellcheck="false">
                <button class="btn btn-default" type="submit">
                  <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 15 15" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
          </svg>
                </button>
                </form>
      </nav>


      <div id="myModal" class="modal">
          <span class="close">&times;</span>
          <span title="EDIT">
            <form class="" action="/profile-img/edit/<%=id%>" method="post">

                <button class="cbutton btn btn-link"  type="submit" name="button">

                  <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
          </svg>
      </button>
      </form>

      </span>

        <img class="modal-content" id="img01">


        <div id="caption"></div>
      </div>

<div class="container-fluid">


      <%if(finded){%>

<%let x=1;%>
        <%friends.forEach(function(friendpost){%>
          <%let flag = 0%>
      <%finded.forEach(function(friend){%>
        <%friend.posts.forEach(function(post){%>
      <%if(post._id === friendpost._id &&flag === 0){%>
      <%flag=1;%>
      <div class="container-fluid" style="width:50%; padding-top: 7px; padding-bottom: 7px;">
        <div class="box">
          <div class="content">
            <div class="profile-image">
              <%if(friendpost.private === 1){%>
              <span title="Private Post" class="private"style="color:#007bff;">
                <svg class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <rect width="11" height="9" x="2.5" y="7" rx="2"/>
                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd"/>
              </svg>
              </span>
              <%}else{%>
                <span style="color:#007bff;"title="Public Post" class="private"><svg class="bi bi-unlock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M.5 9a2 2 0 012-2h7a2 2 0 012 2v5a2 2 0 01-2 2h-7a2 2 0 01-2-2V9z"/>
<path fill-rule="evenodd" d="M8.5 4a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd"/>
</svg></span>
              <%}%>
              <img class="t" src="<%=friend.registerInfo.imgURL%>" alt="">

                <h3><a class="normal btn" href="/search/<%=id%>/<%=friend.registerInfo._id%>"><%=friend.registerInfo.fname%> <%=friend.registerInfo.lname%></a></h3>
            </div>
              <p><%=friendpost.post%></p>
              <div class="time">
                <form class="" action="/home/<%=id%>/likepost"  id="<%=friendpost._id%>"method="post">
                  <p style="color:#007bff;"class="date-position date"><%=friendpost.time%> <%=friendpost.date%> </p>
                  <input type="hidden" name="likebutton" value="<%=friendpost._id%>">
              <%let flag2 = 0;%>
            <% friendpost.likes.forEach(function(like){%>
              <%if(like == id ){%>
                  <%flag2=1;%>
                <%}});%>
              <%if(flag2==1){%>
                  <button type="submit"  id="<%=x%>" class="sbutton btn red btn-link " value="<%=friendpost._id%>">
                    <svg  class="bi bi-heart-fill  " width="1em" height="1em"   viewBox="0 0 16 16"  xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
</svg>
</button>
<%}else{%>
  <button type="submit"  id="<%=x%>" class="sbutton btn white btn-link " value="<%=friendpost._id%>">
    <svg  class="bi bi-heart-fill  " width="1em" height="1em"   viewBox="0 0 16 16"  xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
</svg>
</button>
<%}%>
                  <%x++%>

                </form>

              </div>
        </div>
        </div>

      </div>

      <%}else {%>
        <%friend.imgs.forEach(function(imagepost){%>
          <%if(flag===0 && imagepost._id === friendpost._id){%>
            <%flag = 1;%>
            <div class="container-fluid" style="width:50%; padding-top: 7px; padding-bottom: 7px;">
              <div class="box">
                <div class="content">
                  <div class="profile-image">
                    <%if(friendpost.private === 1){%>
                    <span style="color:#007bff;" title="Private Post" class="private">
                      <svg class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <rect width="11" height="9" x="2.5" y="7" rx="2"/>
                      <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd"/>
                    </svg>
                    </span>
                    <%}else{%>
                      <span style="color:#007bff;" title="Public Post" class="private"><svg class="bi bi-unlock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M.5 9a2 2 0 012-2h7a2 2 0 012 2v5a2 2 0 01-2 2h-7a2 2 0 01-2-2V9z"/>
      <path fill-rule="evenodd" d="M8.5 4a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd"/>
    </svg></span>
                    <%}%>
                    <img class="t" src="<%=friend.registerInfo.imgURL%>" alt="">
                      <h3><a class="normal btn" href="/search/<%=id%>/<%=friend.registerInfo._id%>"><%=friend.registerInfo.fname%> <%=friend.registerInfo.lname%></a></h3>
                      <div class="s">

                        <img class="test" src="<%=friendpost.imgURL%>" alt="">
                      </div>
                      <p class="test2"><%=friendpost.caption%></p>

                       <form class="" action="/home/<%=id%>/likeimgpost" id="<%=friendpost._id%>" method="post">
                         <p style="color:#007bff;" class="date-position date"><%=friendpost.time%> <%=friendpost.date%> </p>
                      <input type="hidden" name="likebutton" value="<%=friendpost._id%>">

                      <%let flag3 = 0;%>
                    <% friendpost.likes.forEach(function(like){%>
                      <%if(like == id ){%>
                          <%flag3=1;%>
                        <%}});%>
                      <%if(flag3==1){%>
                          <button type="submit"  id="<%=x%>" class="sbutton btn red btn-link " value="<%=friendpost._id%>">
                            <svg  class="bi bi-heart-fill  " width="1em" height="1em"   viewBox="0 0 16 16"  xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
        </svg>
        </button>
        <%}else{%>
          <button type="submit"  id="<%=x%>" class="sbutton btn white btn-link " value="<%=friendpost._id%>">
            <svg  class="bi bi-heart-fill  " width="1em" height="1em"   viewBox="0 0 16 16"  xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
        </svg>
        </button>
        <%}%>
                         <%x++%>

                       </form>
                  </div>







          </div>

              </div>

            </div>



            <!-- -->
        <%  }});}});});});%>

      <%}%>
</div>




    </body>

</html>

<script type="text/javascript">
let progress = document.getElementById("progressbar");
let totalHeight = document.body.scrollHeight - window.innerHeight;

window.onscroll = function(){
  let progressHeight = (window.pageYOffset/totalHeight) *100;
  progress.style.height = progressHeight + "%";
}



  var modal = document.getElementById("myModal");


  var img = document.getElementById("myImg");
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");

  img.onclick = function() {
  $("nav").removeClass('fixed-top');
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
    document.body.style.overflow="hidden";
  }


  var span = document.getElementsByClassName("close")[0];


  span.onclick = function() {
    modal.style.display = "none";
    document.body.style.overflow="auto";
      $("nav").addClass('fixed-top');
  }

</script>

<script type="text/javascript">


$(function() {

  $(".btn").on('click', function (e) {
let aa =$(this).val();
$(this).toggleClass('white');
$(this).toggleClass('red');

$('#'+aa).submit(function(event) {

  event.preventDefault(); // Prevent the form from submitting via the browser
  var form = $(this);
  $.ajax({
    type: form.attr('method'),
    url: form.attr('action'),
    data: form.serialize()
  }).done(function(data) {
  alert("success");
  }).fail(function(data) {
    // Optionally alert the user of an error here...
alert("error");
  });
});
});
});
</script>
